<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>OurSong</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <nav id="sidebarMenu" class="bg-light navbar-light sidebar"
                style="width: 200px; height: 100vh; position:fixed;">
                <div class="position-sticky pt-3">
                    <h1 class="h1" style="padding-left: 10px;">OurSong</h1>
                    <ul class="nav flex-column">
                        <li v-for="(stateText, i) in states" class="nav-item">
                            <a :class="{ disabled: state < i }" :onclick="'setState(' + i + ')'" class="nav-link" href="#">
                                {{ stateText }}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main style="position: relative; left: 210px; width: calc(100vw - 210px); overflow: scroll;">
                <br>
                <!-- Setup Page-->
                <div v-if="state == 0">
                    <center>
                        <h1 class="h2">Welcome to OurSong!</h1>
                        <br>
                        <button class="btn btn-primary" type="button" onclick="clearInput('projectName')" data-bs-toggle="modal" data-bs-target="#createModal" id="createProjectModal">Create New Project</button>
                        <button class="btn btn-primary" type="button" onclick="openExistingProject()">Open Existing Project</button>
                        <br><br>
                    </center>
                </div>
                <!-- Add Videos Page -->
                <div v-else-if="state == 1">
                    <center>
                        <h1 class="h2" v-if="videos.length == 0">Let's get started.</h1>
                        <h1 class="h2" v-if="videos.length != 0">Add and tag your videos below.</h1>
                        <br>
                    </center>
                    <div class="accordion" id="fileAccordian">
                        <div v-for="(video,i) in videos" class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="'#collapseOne' + i">
                                    <span v-if="!video.name || !video.gender">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                    </span>
                                    <span v-else>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </span>
                                    &nbsp;
                                    {{ video.name || video.path }}
                                </button>
                            </h2>
                            <div :id="'collapseOne' + i" class="accordion-collapse collapse" data-bs-parent="#fileAccordian">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img :src="thumbnail(video)" style="width: 100%;">
                                        </div>
                                        <div class="col-lg-6">
                                            <label :for="'personName' + i" class="form-label">Performer Name</label>
                                            <input v-model.trim="video.name" type="email" class="form-control" id="'personName' + i">
                                            <br>
                                            <label :for="'gender' + i" class="form-label">Gender</label>
                                            <select v-model="video.gender" id="'gender' + i" class="form-select" aria-label="Gender">
                                                <option value="">Click To Open</option>
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <br><br>
                                            <button :onclick="'deleteVideo(' + i + ')'" type="button" class="btn btn-danger">Remove Video</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br v-if="videos.length != 0">
                    <center>
                        <p v-if="processing.length != 0">Processing: {{ processing.join(", ") }}</p>
                        <br v-if="processing.length != 0">
                        <button type="button" class="btn btn-primary" onclick="videoInput()">Add Videos</button>
                        <br><br>
                        <button onclick="nextState()" v-if="videos.length != 0" :class="{ disabled: !stepOneComplete, 'btn-secondary': !stepOneComplete, 'btn-success': stepOneComplete }" type="button" class="btn">{{ stepOneComplete ? "Next Step!" : "Fix Warnings To Continue" }}</button>
                    </center>
                    <input id="videoInput" type="file" multiple="multiple" style="display:none" onchange="ingestVideoInput(event)">
                    <br><br>
                </div>
                <!-- Add Master Audio Page -->
                <div v-else-if="state == 2">
                    <center>
                        <h1 class="h2">Add your master audio file.</h1>
                        <p>This is what you'll sync all of your videos to, so make sure it's properly edited and trimmed.</p>
                        <div v-if="audio.path">
                            <audio  controls>
                                <source :src="audio.path">
                            </audio>
                            <br><br>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="ingestAudioInput()">{{audio.path ? "Change File" : "Add File"}}</button>
                        <br><br>
                        <button onclick="nextState()" v-if="audio.path" type="button" class="btn btn-success">Next Step!</button>
                        <br><br>
                    </center>
                </div>
                <!-- Synchronize Page -->
                <div v-else-if="state == 3">
                    <center>
                        <h1 class="h2">Time to synchronize clips!</h1>
                        <p>Drag the top timeline so when you press play, the top and bottom clip play synchronized. The bottom track is also draggable, in case the person on the top track doesn't come in until later (moves both tracks together).</p>
                        <p style="margin-bottom: 4px;">{{ videos[currentVideo].name}} </p>
                        <div>
                            <svg style="padding-bottom: 8px;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                                <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                                <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                            </svg>
                            <input type="range" min="0" max="100" value="100" oninput="adjustVolume(this, 'userAudioPlay')">
                        </div>
                        <div :class="{ noClick: videos[currentVideo].sync.lock }" >
                            <waveform :vid="currentVideo" :update="-1"></waveform>
                            <br>
                            <waveform :vid="-1" :update="currentVideo"></waveform>
                        </div>
                        <p style="margin-bottom: 4px;">Master Audio Track</p>
                        <div>
                            <svg style="padding-bottom: 8px;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                                <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                                <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                            </svg>
                            <input type="range" min="0" max="100" value="100" oninput="adjustVolume(this, 'mainAudioPlay')">
                        </div>
                        <br>
                        <button type="button" onclick="playSyncedTracks()" class="btn btn-primary">Play From Start / Stop</button>
                        <br><br>
                        <button onclick="prevUser()" type="button" class="btn btn-primary">
                            <svg style="padding-bottom: 3px; padding-right: 2px;" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </button>
                        <button onclick="toggleLock()" :class="{ 'btn-success': !videos[currentVideo].sync.lock, 'btn-danger': videos[currentVideo].sync.lock }" type="button" class="btn">{{ videos[currentVideo].sync.lock ? "Unlock Tracks" : "Lock Sync" }}</button>
                        <button onclick="nextUser()" type="button" class="btn btn-primary">
                            <svg style="padding-bottom: 3px; padding-left: 2px;" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                        <audio id="mainAudioPlay" style="display:none" :src="audio.path"></audio>
                        <audio id="userAudioPlay" style="display:none" :src="videos[currentVideo].path"></audio>
                        <br><br>
                        <button onclick="nextState()" :class="{ disabled: !stepThreeComplete(), 'btn-secondary': !stepThreeComplete(), 'btn-success': stepThreeComplete() }" type="button" class="btn">{{ stepThreeComplete() ? "Next Step!" : "Lock All Tracks to Continue" }}</button>
                        <br><br>
                    </center>
                </div>
                <div v-else-if="state == 4">
                    <center>
                        <h1 class="h2">Create your video's sections.</h1>
                        <p>Add points on the timeline to section your video out, and then assign video layouts to each timeline section.</p>
                        <peaks-waveform style="width: 80%;"></peaks-waveform>
                        <br>
                        <button onclick="addDividerAtPlayhead()" type="button" class="btn btn-primary">Add Divider at Playhead</button>
                        <button onclick="deleteDividerAtPlayhead()" type="button" class="btn btn-danger">Delete Divider at Playhead</button>
                        <br><br>
                    </center>
                    <div class="accordion" id="sectionAccordian">
                        <div v-for="(section,i) in accSections" class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="'#collapseTwo' + i">
                                    {{ section }}
                                </button>
                            </h2>
                            <div :id="'collapseTwo' + i" class="accordion-collapse collapse" data-bs-parent="#sectionAccordian">
                                <div class="accordion-body">
                                    <button :onclick="'playSection(\'' + section + '\')'" type="button" class="btn btn-primary">Play Section</button>
                                    <br><br>
                                    <layout-picker :layouts="layouts" :timerange="section"></layout-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <center><button onclick="nextState()" :class="{ disabled: !stepFourComplete, 'btn-secondary': !stepFourComplete, 'btn-success': stepFourComplete }" type="button" class="btn">{{ stepThreeComplete ? "Next Step!" : "Layout All to Continue" }}</button></center>
                    <br><br>
                </div>
                <div v-else-if="state == 5">
                    <center>
                        <h1 class="h2">Time to window faces!</h1>
                        <p>Every layout you selected in the last step has different video window sizes. Move and resize these windows to what you'd like them to look like in the final video.</p>
                        <facewindow :ratio="currentRatio" :vid="currentVideo"></facewindow>
                        <br>
                        <select style="width: 60%;" v-model="currentRatio" class="form-select" aria-label="Ratio">
                            <option v-for="(ratio, i) in windowRatios()" :value="i">Ratio: {{ ratio }} ({{ videosRatioed(ratio) }} / {{ videos.length }})</option>
                        </select>
                        <br>
                        <button onclick="prevUser()" type="button" class="btn btn-primary">Prev Video</button>
                        <button onclick="nextUser()" type="button" class="btn btn-primary">Next Video</button>
                        <br><br>
                        <button onclick="nextState()" :class="{ disabled: !stepFiveComplete(), 'btn-secondary': !stepFiveComplete(), 'btn-success': stepFiveComplete() }" type="button" class="btn">{{ stepFiveComplete() ? "Next Step!" : "Position All to Continue" }}</button>
                    </center>
                </div>
                <div v-else>
                    <p>other state</p>
                </div>
            </main>
        </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="v">Let's get started!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>What do you want to call this project? (Generally, this should be the name of your song.)</p>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="createProject()">Select Location & Create</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jashkenas/underscore@1.12.0/underscore-min.js"></script>

    <script src="./renderer.js"></script>
    <script src="./states/0.js"></script>
    <script src="./states/1.js"></script>
    <script src="./states/2.js"></script>
    <script src="./states/3.js"></script>
    <script src="./states/4.js"></script>

    <script src="./components/waveform.js"></script>
    <script src="./components/peaks-waveform.js"></script>
    <script src="./components/layout-picker.js"></script>
    <script src="./components/layout.js"></script>
    <script src="./components/facewindow.js"></script>
</body>

</html>