<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <meta charset="UTF-8">
    <title>OurSong</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <nav id="sidebarMenu" class="bg-light navbar-light sidebar"
                style="width: 200px; height: 100vh; position:fixed;">
                <div class="position-sticky pt-3">
                    <h1 class="h1" style="padding-left: 10px;">OurSong</h1>
                    <ul class="nav flex-column">
                        <li v-for="(stateText, i) in states" class="nav-item">
                            <a :class="{ disabled: state < i }" :onclick="'setState(' + i + ')'" class="nav-link" href="#">
                                {{ stateText }}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main style="position: relative; left: 210px; width: calc(100vw - 210px); overflow: scroll;">
                <br>
                <!-- Setup Page-->
                <div v-if="state == 0">
                    <center>
                        <h1 class="h2">Welcome to OurSong!</h1>
                        <br>
                        <button class="btn btn-primary" type="button" onclick="clearInput('projectName')" data-bs-toggle="modal" data-bs-target="#createModal" id="createProjectModal">Create New Project</button>
                        <button class="btn btn-primary" type="button" onclick="openExistingProject()">Open Existing Project</button>
                        <br><br>
                    </center>
                </div>
                <!-- Add Videos Page -->
                <div v-else-if="state == 1">
                    <center>
                        <h1 class="h2" v-if="videos.length == 0">Let's get started.</h1>
                        <h1 class="h2" v-if="videos.length != 0">Add and tag your videos below.</h1>
                        <br>
                    </center>
                    <div class="accordion" id="fileAccordian">
                        <div v-for="(video,i) in videos" class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="'#collapseOne' + i">
                                    <span v-if="!video.name || !video.gender">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                    </span>
                                    <span v-else>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </span>
                                    &nbsp;
                                    {{ video.name || video.path }}
                                </button>
                            </h2>
                            <div :id="'collapseOne' + i" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#fileAccordian">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img :src="thumbnail(video)" style="width: 100%;">
                                        </div>
                                        <div class="col-lg-6">
                                            <label :for="'personName' + i" class="form-label">Performer Name</label>
                                            <input v-model.trim="video.name" type="email" class="form-control" id="'personName' + i">
                                            <br>
                                            <label :for="'gender' + i" class="form-label">Gender</label>
                                            <select v-model="video.gender" id="'gender' + i" class="form-select" aria-label="Gender">
                                                <option value="">Click To Open</option>
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <br><br>
                                            <button :onclick="'deleteVideo(' + i + ')'" type="button" class="btn btn-danger">Remove Video</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br v-if="videos.length != 0">
                    <center>
                        <p v-if="processing.length != 0">Processing: {{ processing.join(", ") }}</p>
                        <br v-if="processing.length != 0">
                        <button type="button" class="btn btn-primary" onclick="videoInput()">Add Videos</button>
                        <br><br>
                        <button onclick="nextState()" v-if="videos.length != 0" :class="{ disabled: !stepOneComplete, 'btn-secondary': !stepOneComplete, 'btn-success': stepOneComplete }" type="button" class="btn">{{ stepOneComplete ? "Next Step!" : "Fix Warnings To Continue" }}</button>
                    </center>
                    <input id="videoInput" type="file" multiple="multiple" style="display:none" onchange="ingestVideoInput(event)">
                    <br><br>
                </div>
                <!-- Add Master Audio Page -->
                <div v-else-if="state == 2">
                    <center>
                        <h1 class="h2">Add your master audio file.</h1>
                        <p>This is what you'll sync all of your videos to, so make sure it's properly edited and trimmed.</p>
                        <div v-if="audio.path">
                            <audio  controls>
                                <source :src="audio.path">
                            </audio>
                            <br><br>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="ingestAudioInput()">{{audio.path ? "Change File" : "Add File"}}</button>
                        <br><br>
                        <button onclick="nextState()" v-if="audio.path" type="button" class="btn btn-success">Next Step!</button>
                        <br><br>
                    </center>
                </div>
                <!-- Synchronize Page -->
                <div v-else-if="state == 3">
                    <center>
                        <h1 class="h2">Time to synchronize clips!</h1>
                        <p>Drag the top timeline so when you press play, the top and bottom clip play synchronized. The bottom track is also draggable, in case the person on the top track doesn't come in until later (moves both tracks together).</p>
                        <br><br>
                        <p>{{ videos[currentVideo].name}} </p>
                        <waveform :vid="currentVideo"></waveform>
                        <br>
                        <waveform :vid="-1"></waveform>
                        <p>Master Audio Track</p>
                    </center>
                </div>
                <div v-else>
                    <p>other state</p>
                </div>
            </main>
        </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="v">Let's get started!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>What do you want to call this project? (Generally, this should be the name of your song.)</p>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="createProject()">Select Location & Create</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jashkenas/underscore@1.12.0/underscore-min.js"></script>

    <script src="./renderer.js"></script>
    <script src="./states/0.js"></script>
    <script src="./states/1.js"></script>
    <script src="./states/2.js"></script>
    <script src="./states/3.js"></script>

    <script src="./components/waveform.js"></script>
</body>

</html>